.notification-toggle-button {
  background: hsl(var(--foreground) / 0.08);
  justify-content: center;
  width: 3rem;
}

.notification-toggle-button:hover {
  background: hsl(var(--foreground) / 0.16);
}
