:root {
    /* styles/variables.css */


    /* Farben */
    --color-bg: #f5f5f5;
    --color-bg-light: #f8f9fa;
    --color-bg-white: #ffffff;

    --color-text: #333;
    --color-muted: #666;
    --color-border: #ccc;

    --color-accent: #b1b3b5;
    /* sattes Mittelblau */
    --color-accent-hover: #494a4a;
    /* deutlich dunkleres Blau */
    --color-accent-active: #6d7171;
    /* sattes dunkleres Blau */
    --color-warning: #ffc107;
    --color-success: #28a745;

    --color-button-text: #ffffff;

    /* Layout */
    --spacing-small: 0.5rem;
    --spacing: 1rem;
    --spacing-large: 2rem;

    --border-radius: 6px;
    --border-radius-large: 12px;

    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.05);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Schriftgrößen */
    --font-size-base: 1rem;
    --font-size-heading: 1.5rem;
    --font-size-small: 0.875rem;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --text: #f0f0f0;
    }
}